.login{
    background-image: url(../SignUp/landdingpage.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    display: flex;
    justify-content: space-between;
    padding: 0 ;
    height: 550px;
}
.login__right{
    width: 100%;
    padding-left: 30px;
    box-shadow: 3px 5px lightslategray;
}
.login__right button{
    background-color: goldenrod;
    border: none;
    padding: 4px;
}
.login__form{
    margin-top: 90px ;
    margin-bottom: 90px ;
    margin-left: 320px;
    margin-right: 320px;
    width: 100%;
    
    /* margin-right: 90px; */
    background-color: #fff;
    box-shadow:  0px -25px 20px -20px rgba(0,0,0,0.45),
    25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45);
}
.login__form input{
    /* display: flex; */
    margin-bottom: 2%;
    margin-left: 30px;
}
.login__form input[name='email']{
    margin-top: 90px;
}
.login__form button{
    margin-left: 30px;
    margin-bottom: 20px;
}