.home{
    display: block;
    margin-left: 50px;
}
.home__great{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}

.home__great button{
  margin-left: 50px;
  margin-top: 23px;
  color: grey;
  padding: 7px;
  border-radius: 11px;
 
}
.avatar{
  transform: scale(2.8);

 
  
}
.outer{
  display: flex;
  margin-top: 50px;
  margin-left: 35px;
}
.home__display{
  display: flex;
  padding: 40px;
}
.home__display p{
  padding-left: 24px;
}
.outer .user{
  padding-top: 43px;
  margin-left: -63px;
}
.home__display .time{
  padding-left: 460px;
}