.answer{
    margin-left: 40px;
    margin-top: 20px;
display: block;

    
}
.answer #qa{
    margin-bottom: 80px;
  
}
.answer button{
    background-color: goldenrod;
    border: none;
    padding: 4px;


}
.avatar{
    transform: scale(2.5);
    padding: 12px;
}
.answer__ques{
    display: block;
}